<div>
  <% if @groups.empty? %>
    <h3>There are no transactions here</h3>
  <% else %>
    <div class="groups">
      <% @groups.each do |group| %>
        <div class="group-container">
          <div>
            <% if group.name == 'Foods' %>
              <%= image_tag("food.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Studies' %>
              <%= image_tag("studies.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Clothing' %>
              <%= image_tag("clothing.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Healthcare' %>
              <%= image_tag("health.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Transportation' %>
              <%= image_tag("transportation.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Utilities' %>
              <%= image_tag("utilities.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Entertainment' %>
              <%= image_tag("entertainment.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Housing' %>
              <%= image_tag("housing.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            
            <% if group.name == 'Savings' %>
              <%= image_tag("savings.jpg", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
            <% if group.name == 'Personal' %>
              <%= image_tag("personal.png", id: '1690915255103-img', class: 'group-img') %>
            <% end %>
          </div>
          <div>
            <h1><%= group.name %></h1>
            <a href=<%= "/groups/#{group.id}/activities" %> id="group-open">
              <i class="fa-solid fa-eye"></i>
            </a>

            <%= button_to group_path(group),
              method: :delete,
              data: { turbolinks_confirm: 'Delete this recipe?' },
              class: 'btn-back',
              form: { class: 'delete-form' } do %>
                <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "New Category", new_group_path, class: 'categories-button' %>
</div>